.navbar{
    background: blue;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 10px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline-block;
}
li a{
    color: orange;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}
button{
    background-attachment: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
button a{
    color: orange;
    font-weight: bold;
    font-size: 15px;
    text-decoration:wavy ;
}